:root {
  font-family: "Sora", "Segoe UI", sans-serif;
  color: #123024;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background:
    radial-gradient(circle at 0 0, #dcffe9 0, transparent 35%),
    radial-gradient(circle at 100% 100%, #efffd8 0, transparent 36%), #f3fbf6;
}

#root {
  min-height: 100vh;
  padding: 20px;
}
